CrystalReportWebAPI/Reports/ReportData/orders detail.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:od="urn:schemas-microsoft-com:officedata">
<xsd:element name="dataroot">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="Orders_Detail" minOccurs="0" maxOccurs="unbounded" />
</xsd:sequence>
<xsd:attribute name="generated" type="xsd:dateTime" />
</xsd:complexType>
</xsd:element>
<xsd:element name="Orders_Detail">
<xsd:annotation>
<xsd:appinfo>
<od:index index-name="Orders DetailOrder ID" index-key="Order_ID " primary="no" unique="no" clustered="no" order="asc" />
<od:index index-name="Orders DetailProduct ID" index-key="Product_ID " primary="no" unique="no" clustered="no" order="asc" />
<od:index index-name="PrimaryKey" index-key="Order_ID Product_ID " primary="yes" unique="yes" clustered="no" order="asc asc" />
<od:tableProperty name="RowHeight" type="3" value="285" />
<od:tableProperty name="DatasheetFontName" type="10" value="??????" />
<od:tableProperty name="DatasheetFontHeight" type="3" value="8" />
<od:tableProperty name="DatasheetFontWeight" type="3" value="400" />
<od:tableProperty name="DatasheetFontItalic" type="1" value="0" />
<od:tableProperty name="DatasheetFontUnderline" type="1" value="0" />
<od:tableProperty name="TabularCharSet" type="2" value="0" />
<od:tableProperty name="TabularFamily" type="2" value="34" />
<od:tableProperty name="OrderByOn" type="1" value="0" />
<od:tableProperty name="Orientation" type="2" value="0" />
<od:tableProperty name="DatasheetForeColor" type="4" value="0" />
</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="Order_ID" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="ColumnWidth" type="3" value="-1" />
<od:fieldProperty name="ColumnOrder" type="3" value="0" />
<od:fieldProperty name="ColumnHidden" type="1" value="0" />
<od:fieldProperty name="DecimalPlaces" type="2" value="255" />
<od:fieldProperty name="Required" type="1" value="0" />
<od:fieldProperty name="DisplayControl" type="3" value="109" />
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="Product_ID" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="ColumnWidth" type="3" value="-1" />
<od:fieldProperty name="ColumnOrder" type="3" value="0" />
<od:fieldProperty name="ColumnHidden" type="1" value="0" />
<od:fieldProperty name="DecimalPlaces" type="2" value="255" />
<od:fieldProperty name="DefaultValue" type="12" value="0" />
<od:fieldProperty name="Required" type="1" value="0" />
<od:fieldProperty name="DisplayControl" type="3" value="109" />
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="Unit_Price" minOccurs="0" od:jetType="currency" od:sqlSType="money" type="xsd:double">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="ColumnWidth" type="3" value="-1" />
<od:fieldProperty name="ColumnOrder" type="3" value="0" />
<od:fieldProperty name="ColumnHidden" type="1" value="0" />
<od:fieldProperty name="DecimalPlaces" type="2" value="255" />
<od:fieldProperty name="Required" type="1" value="0" />
<od:fieldProperty name="Format" type="10" value="$#,##0.00;($#,##0.00)" />
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="Quantity" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="ColumnWidth" type="3" value="-1" />
<od:fieldProperty name="ColumnOrder" type="3" value="0" />
<od:fieldProperty name="ColumnHidden" type="1" value="0" />
<od:fieldProperty name="Format" type="10" value="General Number" />
<od:fieldProperty name="DecimalPlaces" type="2" value="255" />
<od:fieldProperty name="Required" type="1" value="0" />
<od:fieldProperty name="DisplayControl" type="3" value="109" />
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>